@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Raleway:wght@200;500;600;700;800;900&display=swap");

/* 

COLORS:
  --text: "#fff";
  --background: "#060606";
  --primary: "#3cf";
  --secondary: "#e0f";
  --muted: "#191919";
  --highlight: "#29112c";
  --gray: "#999";
  --purple: "#c0f";

*/

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem 8rem;
  gap: 1rem;
  height: calc(100vh - 6rem);
}

.headerText {
  font-size: 4.4rem;
  font-weight: 300;
}

.highlight,
.darkHighlight {
  font-weight: 600;
}

.highlight {
  color: #e0f;
}

.darkHighlight {
  background-color: #29112c;
  color: white;
  padding: 0 1rem;
}

.sectionOne,
.sectionTwo {
  padding: 6rem 8rem;
}

.sectionOne {
  background-color: #29112c;
  color: white;
}

.sectionTwo {
  background-color: white;
  color: black;
}

.sectionOneHeading,
.sectionTwoHeading {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 4rem;
  font-size: 3.6rem;
}

.sectionOneHeading {
  display: flex;
  align-items: center;
}

.pointer {
  transform: rotate(180deg);
}

.socialIcons {
  max-width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.socialIcons a {
  display: flex;
  align-items: center;
  transition: all 0.3s;
  margin: 1rem;
  gap: 1rem;
}

.socialIcons a:hover {
  color: #3cf;
}

.footer {
  height: 2rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.card,
.cardReverse {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12rem 0;
  gap: 2rem;
}

.card {
  flex-direction: row;
}

.cardReverse {
  flex-direction: row-reverse;
}
